<!doctype html>
<html lang=''>
<head>
   <meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="styles.css">
   <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
   <script src="script.js"></script>
   <title>CSS MenuMaker</title>
</head>
<body>

<div id='cssmenu'>
<ul>
   <li class='active'><a href='/'>Home</a></li>
   <li><a href='/projects'>Projets</a></li>

    <% if user_signed_in? %>
      <li class="pull-right">
        <%= image_tag current_user.picture, class:"photo-fb avatar dropdown-toggle" %>
      </li>
      <li class="pull-right"><%= link_to "Logout", destroy_user_session_path, method: :delete, class: "navbar-wagon-item navbar-wagon-link" %></li>
    <% else %>
      <li class="pull-right"><%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
    <% end %>

   <li><a href='#'>Contact</a></li>

</ul>
</div>

</body>
<html>





