<div class="background">
  <div class="filter-background">
    <div class="title-logo">
      Trouvez vos collaborateurs
      <br>
    <div class="btn btn-danger btn-home text-center">
      Voir les projets
      </div>
    </div>
  </div>
</div>

